<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651532358701-daldmh9pieb1s9h13hfl9ls069p73c8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651532358701-daldmh9pieb1s9h13hfl9ls069p73c8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDC4LrQ720RWymSWQDPE3YSF75jrd-K9aI</string>
	<key>GCM_SENDER_ID</key>
	<string>651532358701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edspertAdvance2</string>
	<key>PROJECT_ID</key>
	<string>edspert-2222</string>
	<key>STORAGE_BUCKET</key>
	<string>edspert-2222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651532358701:ios:910e9ae8c1e490adcd14a4</string>
</dict>
</plist>